/* Initial state for Hero and Wisdom sections */
.hero,
.wisdom-section .wisdom-content {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    overflow: hidden;
}

/* Slide-in effect for the Wisdom section image */
.wisdom-image img {
    box-shadow: 
        20px 20px 0 0 rgba(0, 0, 0, 0.2),
        40px 40px 0 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    animation: bounce 0.5s ease infinite alternate;
    transform-origin: center bottom;
  }
  .wisdom-image img:is(:hover,:focus) {
    box-shadow: 
        20px 20px 0 0 #E5A186,
        40px 40px 0 0 #f8bea7;
  }
  
  @keyframes bounce {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-5px);
    }
  }
/* Apply the scrolling animations */
.hero.scrolled,
.wisdom-section .wisdom-content.scrolled {
    opacity: 1;
    transform: translateY(0);
}

/* Slide-in effect for the image when scrolled */
.wisdom-image.scrolled img {
    transform: translateX(0);
}

/* Wave Text Animation for the hero section's h1 */
.wave-text span {
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    animation: wave 1.5s ease-in-out infinite;
    transform-origin: bottom center;
    margin: 0 2px;
}

/* Keyframes for the wave effect */
@keyframes wave {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
}

/* Stagger the animation for each letter */
.wave-text span:nth-child(1) { animation-delay: 0s; }
.wave-text span:nth-child(2) { animation-delay: 0.1s; }
.wave-text span:nth-child(3) { animation-delay: 0.2s; }
.wave-text span:nth-child(4) { animation-delay: 0.3s; }