:root{
  --bg-shade: #f9f1f8;
  --primary-text-color:#38393a;
  --secondary-text-color:rgb(238, 234, 234);

}

.dark-mode{
  --bg-shade:rgb(82, 82, 82);
  --primary-text-color:rgb(238, 234, 234);
  --secondary-text-color:#38393a;
   

}
/* Contact Form */
.contact-form {
    background:var(--bg-shade);
    width: 90%;
    max-width: 700px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 5px solid var(--primary-text-color);
    box-shadow: 0 0 10px var(--primary-text-color);
  }
  
  .contact-form h1 {
    color: var(--primary-text-color);
    text-align: center;
    
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--primary-text-color);
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-text-color);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .contact-form textarea {
    height: 20vh;
  }
  
  .contact-form input:hover,
  .contact-form textarea:hover {
    border-color: #e5a186;
  }
  
  .contact-form button {
    background-color: #e5a186;
    color: var(--secondary-text-color);
    border: none;
    font-size: 20px;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #f6a07e;
    text-shadow: 4px 4px 4px var(--primary-text-color);
  }

  .footer{
    color: var(--primary-text-color);
  }  
  @media (max-width: 768px) {
    .contact-form {
      width: 90%;
      margin-top: 20px;
    }
  
    .contact-form h1 {
      font-size: 24px;
    }
  
    .contact-form button {
      font-size: 18px;
    }
  
    .contact-form textarea {
      height: 100px;
    }
  }
  
  @media (max-width: 480px) {
    .contact-form {
      width: 100%;
      padding: 10px;
    }
  
    .contact-form h1 {
      font-size: 20px;
    }
  
    .contact-form button {
      font-size: 16px;
      padding: 8px 15px;
    }
  
    .contact-form textarea {
      height: 80px;
    }
  }
  