body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color:var(--bg-shade);
    color: var(--primary-text-color);
    box-sizing: border-box;
}
:root{
    --bg-shade: #f9f1f8;
    --primary-text-color:#38393a;
    --secondary-text-color:rgb(238, 234, 234);
  
  }
  
  .dark-mode{
    --bg-shade:rgb(82, 82, 82);
    --primary-text-color:rgb(238, 234, 234);
    --secondary-text-color:#38393a;
     
  
  }
html{
    scroll-behavior: smooth;
}
.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin-top: 200px;
    margin-bottom: 100px;
}
.lotus {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    background-image: url('lotus-flower\ \(2\).png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color:var(--primary-text-color);
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease;
}
.counting {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-shade);
    border: 5px solid var(--primary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #ff1493;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.counting.show {
    opacity: 1;
    pointer-events: auto;
}