body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: black;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin-top: 200px;
    margin-bottom: 100px;
}
.lotus {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    background-image: url('lotus-flower\ \(2\).png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease;
}
.counting {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #ff1493;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.counting.show {
    opacity: 1;
    pointer-events: auto;
}