.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
    box-sizing: border-box;
    background-color: white;
    margin-top: 50px;
}

.roadmap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0px auto 100px;
}

.roadmap-card {
    background-color: #fff;
    border-radius: 8px;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.roadmap-card:is(:focus,:hover){
    box-shadow: 
        20px 20px 0 0 #efbca8,
        40px 40px 0 0 #E5A186;
    transition: box-shadow 0.3s ease-in-out;
}
/* Positioning odd cards on the left and right*/
.roadmap-card:nth-child(odd) {
    align-self: flex-start;
    transform: translateX(-300px) translateY(50px);
}
.roadmap-card:nth-child(even) {
    align-self: flex-end;
    transform: translateX(300px) translateY(50px);
}
/*Size of img*/
.roadmap-card img{
    width: 300px;
    height: 300px;
    border-radius: 8px 8px 0px 0px;
}
.roadmap-card.active {
    opacity: 1;
    transform: translateY(0) translateX(0);
}
.roadmap-card p{
    margin: 10px 10px 10px 10px;
}