.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.roadmap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;
}

.roadmap-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 600px;
    transition: all 0.3s ease;
}

.roadmap-card img {
    width: 50%;
    height: 40%;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.roadmap-card h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.roadmap-card p {
    font-size: 1rem;
    line-height: 1.5;
}

.roadmap-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px #f8bea7;
}