:root {
    --primary-color: #FF7F50;
    --secondary-color: #FFA07A;
    --text-color: #333;
    --background-color: #FFF5EE;
    
    --highlight-color: #FFD700;
}
:root{
    --bg-shade: #f9f1f8;
    --primary-text-color:#38393a;
    --secondary-text-color:rgb(238, 234, 234);
    --accent-color: #8B4513;
  
  }
  
  .dark-mode{
    --bg-shade:rgb(82, 82, 82);
    --primary-text-color:rgb(238, 234, 234);
    --secondary-text-color:#38393a;
    --accent-color: #eb7d2e;
     
  
  }



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--primary-text-color);
    background-color: var(--bg-shade);
    transition: background-color 0.3s ease;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 40px 20px;
}

h2 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2em;
}

h3 {
    color: var(--accent-color);
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.section {
    background-color: var(--bg-shade);
    padding: 20px;
    border-radius: 8px;
    border: 5px solid var(--primary-text-color);
    box-shadow: 0 4px 6px var(--primary-text-color);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px var(--primary-text-color);
}

p {
    margin-bottom: 15px;
    text-align: justify;
}

.highlight {
    background-color: var(--highlight-color);
    color: var(--primary-text-color);
    padding: 2px 5px;
    border-radius: 3px;
}

ul {
    margin-left: 20px;
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.3em;
    }

    .section {
        padding: 15px;
    }
}
.section p,li{
    font-size: small;
}
.footer {
    
    font-size: 0.8rem;
    color: var(--primary-text-color);
    text-align: center;
    
    bottom: 10px;
    width: 100%;
}