*{
    margin: 0;
    padding: 0;
}

header{
    padding: 20px;
}

header a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    font-family: sans-serif;
    padding: 10px;
    background-color: #dad9d967;
    color: black;
    border-radius: 3px;
}

header a:hover{
    background-color: #b4b4b483;
}
.wisdom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
    box-sizing: border-box;
    background-color: white;
    margin-top: 50px;
  }
  
  .wisdom-content {
    flex: 1;
    padding-right: 20px;
    margin-left: 8%;
    margin-right: 5%;
  }
  
  .wisdom-content h1 {
    font-size: 46px;
    color: black;
    margin-bottom: 20px;
  }
  
  .wisdom-content h2 {
    font-size: 36px;
    color: black;
    margin-bottom: 20px;
  }
  
  .wisdom-content p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .wisdom-content a {
    color: black;
    text-decoration: none;
    border-radius: 0;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
  }
  .bt::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #e5a186;
    transition: width 0.3s ease;
  }
  .bt:hover {
    color: #e5a186;
  }
  
  .bt:hover::after {
    width: 28%;
  }
  
  .wisdom-image {
    flex: 1;
    max-width: 50%;
    text-align: right;
    margin-right: 8%;
  }
  
  .wisdom-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }